Slight inaccuracy in README, related RFCs

In the "Conclusion" section, you state:

> Note - Certifying public keys or otherwise creating trust relationships between hosts has explicitly been left out of the HIP architecture, it is expected that each system using HIP may want to address it differently.

However, this is not entirely accurate. In HIPv1, HIP Certificates were specified in [RFC 6253](https://tools.ietf.org/html/rfc6253), which was then updated for HIPv2 as [RFC 8002](https://tools.ietf.org/html/rfc8002). It's far from mandatory, and alternative trust mechanisms are openly and explicitly discussed in the relevant RFCs, but it _is_ part of the architecture.

You may also be interested in some of the other RFCs in [the working group's document tracker](https://datatracker.ietf.org/wg/hip/documents/), such as [RFC 8046](https://tools.ietf.org/html/rfc8046), which acts to pull together the topics relevant to making mobility work with HIPv2. There's also a draft (submitted to the IESG for publication as an RFC, but sitting in queue) covering [NAT traversal](https://tools.ietf.org/html/draft-ietf-hip-native-nat-traversal-33).

EDIT: I would like to say that I'm quite excited to find this project - I've been interested in HIPv2 for some years now, but never managed to get over the line and start implementing it in Rust myself.

Thanks for this. I can see how my conclusion can be confusing. 

I meant to say - HIPv2 doesn't mandate the use of a specific method when it comes to 'establishing trust'.

I'll update it.

Note: although this is an early PoC for now, I intend to keep working on it as time permits. But please feel free to contribute. 